<footer class="footer mt-auto">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h2 class="footer-heading">
          <a href="#" class="logo">Silentium</a>
        </h2>
        <p class="menu">
          <a [routerLink]="['/']">Inicio</a>
        </p>
        <ul class="footer-social p-0">
          <li>
            <a
              href="https://twitter.com/"
              data-toggle="tooltip"
              data-placement="top"
              title="Twitter"
              ><span class="bi bi-twitter-x"></span
            ></a>
          </li>
          <li>
            <a
              href="https://facebook.com/"
              data-toggle="tooltip"
              data-placement="top"
              title="Facebook"
              ><span class="bi bi-facebook"></span
            ></a>
          </li>
          <li>
            <a
              href="https://instagram.com/"
              data-toggle="tooltip"
              data-placement="top"
              title="Instagram"
              ><span class="bi bi-instagram"></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <p class="copyright">
          Copyright &copy; 2024 | Realizado por Carlos Cano García, I.E.S. Julio Verne
        </p>
      </div>
    </div>
  </div>
</footer>
