.container {
  background-color: #771629;
  color: white;
  font-family: "Graphik", sans-serif;
}

h3,h4 {
    border-bottom: 2px solid white;
}

.movie-card {
  background-color: #444;
  border: none;
}
.movie-card img {
  width: 100%;
  height: auto;
}
.movie-stats {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.movie-stats span {
  color: lightgrey;
}
.ad-banner {
  background-color: #555;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
}
.just-reviewed img {
  width: 100%;
  height: auto;
}
