.container-fluid {
  color: white;
  font-family: "Graphik", sans-serif;
}


h4 {
  border-bottom: 2px solid white;
}

.nav-tabs {
  border-bottom: 0;
}

.profile-header {
  padding: 20px;
}
.profile-header img {
  border-radius: 50%;
}

.movie-poster img {
  width: 100%;
}
.movie-list {
  margin-bottom: 20px;
}

a {
  color: #f0bf1f;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

a:hover {
  color: white;
}

a:focus {
  color: #f0bf1f;
}

a:active {
  color: #f0bf1f;
}
